# Version 1.0.2
# =======================================================
# Ignore Editor-files, vendor and other basic stuff
# =======================================================
.DS_Store
node_modules
bower_components

/.build
/.buildpath
/.bowerrc
/.bundle
/.env
/.idea
/.settings
/.project
/.php-version
/vendor

